<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${info.title}">晚成的项目</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/css/slick.css}">
    <link rel="stylesheet" th:href="@{/css/chosen.min.css}">
    <link rel="stylesheet" th:href="@{/css/pe-icon-7-stroke.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.min.css}">
    <link rel="stylesheet" th:href="@{/css/lightbox.min.css}">
    <link rel="stylesheet" th:href="@{/js/fancybox/source/jquery.fancybox.css}">
    <link rel="stylesheet" th:href="@{/css/jquery.scrollbar.min.css}">
    <link rel="stylesheet" th:href="@{/css/mobile-menu.css}">
    <link rel="stylesheet" th:href="@{/fonts/flaticon/flaticon.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="home">
<div>
    <div class="fullwidth-template">

        <div class="nozari-blog-wraap default">
            <div class="container">
                <h3 class="custommenu-title-blog" th:text="${info.title}">
                </h3>
                <div class="nozari-blog default">
                    <div class="owl-slick equal-container nav-center"
                         data-slick='{"autoplay":false, "autoplaySpeed":1000, "arrows":false, "dots":true, "infinite":true, "speed":800, "rows":1}'
                         data-responsive='[{"breakpoint":"2000","settings":{"slidesToShow":3}},{"breakpoint":"1200","settings":{"slidesToShow":3}},{"breakpoint":"992","settings":{"slidesToShow":2}},{"breakpoint":"768","settings":{"slidesToShow":2}},{"breakpoint":"481","settings":{"slidesToShow":1}}]'>

                        <div class="nozari-blog-item equal-element layout1" th:each="project : ${projects}">
                            <div class="post-thumb">
                                <a th:href="@{${project.url}}">
                                    <img th:src="${project.image}" alt="img">
                                </a>
                                <div class="category-blog">
                                    <ul class="list-category">
                                        <li class="category-item">
                                            <a href="#">Skincare</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="post-item-share">
                                    <a href="#" class="icon">
                                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                                    </a>
                                    <div class="box-content">
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-info">
                                <div class="blog-meta">
                                    <span class="view">
											<i class="icon fa fa-eye" aria-hidden="true"></i>
											631
										</span>
                                    <span class="comment">
											<i class="icon fa fa-commenting" aria-hidden="true"></i>
											84
										</span>
                                </div>
                                <h2 class="blog-title">
                                    <a th:href="@{${project.url}}" th:text="${project.name}"></a>
                                </h2>
                                <div class="main-info-post">
                                    <p class="des" th:text="${project.summary}">
                                    </p>
                                    <a class="readmore" th:href="@{${project.url}}">前往网站</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer style7">
    <div class="container">
        <div class="container-wapper">
             <div class="footer-end">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="coppyright">
                            Copyright © 2020
                            <a href="https://github.com/Autuan">Autuan</a>
                            . All rights reserved
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script th:src="@{/js/jquery-1.12.4.min.js}"></script>
<script th:src="@{/js/jquery.plugin-countdown.min.js}"></script>
<script th:src="@{/js/jquery-countdown.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/magnific-popup.min.js}"></script>
<script th:src="@{/js/isotope.min.js}"></script>
<script th:src="@{/js/jquery.scrollbar.min.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>
<script th:src="@{/js/mobile-menu.js}"></script>
<script th:src="@{/js/chosen.min.js}"></script>
<script th:src="@{/js/slick.js}"></script>
<script th:src="@{/js/jquery.elevateZoom.min.js}"></script>
<script th:src="@{/js/jquery.actual.min.js}"></script>
<script th:src="@{/js/fancybox/source/jquery.fancybox.js}"></script>
<script th:src="@{/js/lightbox.min.js}"></script>
<script th:src="@{/js/owl.thumbs.min.js}"></script>
<script th:src="@{/js/jquery.scrollbar.min.js}"></script>
<script th:src="@{/js/frontend-plugin.js}"></script>
</body>
</html>